@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.overlay {
  @include modal-overlay;
}

.container {
  @include modal-container;
  max-width: 28rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $sp-6;
  border-bottom: 1px solid $gray-200;
}

.title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $gray-900;
  margin: 0;
  font-weight: 400;
}

.closeBtn {
  @include btn-ghost;
  color: $gray-400;

  &:hover {
    color: $gray-600;
    background: transparent;
  }

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.form {
  padding: $sp-6;
  display: flex;
  flex-direction: column;
  gap: $sp-5;
}

.field {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 0.875rem;
  color: $gray-700;
  margin-bottom: $sp-2;
}

.required {
  color: $red-500;
}

.input {
  @include input-base;
  font-family: monospace;
}

.inputError {
  @include input-error;
}

.select {
  @include input-base;
}

.textarea {
  @include input-base;
  resize: none;
  font-family: inherit;
}

.textareaError {
  @include input-error;
}

.errorText {
  font-size: 0.75rem;
  color: $red-600;
  margin-top: $sp-1;
}

.hint {
  font-size: 0.75rem;
  color: $gray-500;
  margin-top: $sp-1;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $sp-3;
  padding-top: $sp-4;
}

.btnCancel {
  @include btn-secondary;
}

.btnSubmit {
  @include btn-primary;
}
